<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.inspiry"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <!-- Place inside the <queries> element. -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <!-- Replace with the MIME type that your app works with, if needed. -->
            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <!-- Replace with the MIME type that your app works with, if needed. -->
            <data android:mimeType="video/mp4" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/SplashScreenTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:fullBackupContent">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="marketing" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".edit.EditActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".subscribe.ui.SubscribeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SubscribeActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="subscribe"
                    android:scheme="inspiry" />
            </intent-filter>

            <intent-filter>
                <action android:name="click_adapty_notification" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ToInstActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditJsonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".export.mainui.ExportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".onboarding.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".bfpromo.ui.BFPromoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.StartActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="inspiry.onelink.me"
                    android:pathPrefix="/{onelinkID}"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".textanim.TextAnimationsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextAnimationStyle" />

        <activity
            android:name=".stickers.ui.StickersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextAnimationStyle" />

        <activity
            android:name=".logo.LogoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextAnimationStyle" />

        <activity
            android:name=".featurepromo.RemoveBgPromoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".removebg.RemovingBgActivity"
            android:exported="false"
            android:theme="@style/RemovingBgActivityTheme" />

        <provider
            android:name="app.inspiry.helpers.GenericFileProvider"
            android:authorities="app.inspiry.helpers.GenericFileProvider.all"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".helpers.notification.NotificationAlarmReceiver" />

        <receiver
            android:name=".helpers.BootCompletedReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.appsflyer.SingleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="app.inspiry.helpers.analytics.AdaptyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="AdaptyAutomaticPaywallsScreenReportingEnabled"
            android:value="false" />

    </application>

</manifest>