<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ITSAppUsesNonExemptEncryption</key>
        <false/>
        <key>APFiles</key>
        <dict>
            <key>APFileDescriptionKey</key>
            <string></string>
            <key>APFileDestinationPath</key>
            <string></string>
            <key>APFileName</key>
            <string></string>
            <key>APFileSourcePath</key>
            <string></string>
        </dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>$(DEVELOPMENT_LANGUAGE)</string>
        <key>CFBundleDisplayName</key>
        <string>Inspiry</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleLocalizations</key>
        <array>
            <string>en</string>
            <string>ru</string>
            <string>es</string>
            <string>pt</string>
        </array>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
        <key>CFBundleShortVersionString</key>
        <string>$(MARKETING_VERSION)</string>
        <key>CFBundleVersion</key>
        <string>$(MARKETING_VERSION)</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>instagram</string>
            <string>facebook</string>
            <string>whatsapp</string>
            <string>telegram</string>
            <string>viber</string>
        </array>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>NSAppleMusicUsageDescription</key>
        <string>Display user&apos;s library to allow pick a track for adding it to stories and render as a background for a video</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>$(PRODUCT_NAME) - Access to the media library is needed so that you can add any photos and videos to templates and save your stories</string>
        <key>NSLocationAlwaysUsageDescription</key>
        <string>Your location is not needed. This request has popped up due to a 3rd party framework used by the app in a context that does NOT need you to reveal you location. Do be sure to check audit trail for the location queries on ios 15 or later.</string>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>You will get zero benefit allowing this app accessing your location. You should never see this alert. If you do alert technical support at inspiryhelp@gmail.com</string>
        <key>UIApplicationSceneManifest</key>
        <dict>
            <key>UIApplicationSupportsMultipleScenes</key>
            <true/>
        </dict>
        <key>UIApplicationSupportsIndirectInputEvents</key>
        <true/>
        <key>UILaunchScreen</key>
        <dict/>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
        </array>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>fb791846007892066</string>
          </array>
          </dict>
        </array>
        <key>FacebookAppID</key>
        <string>791846007892066</string>
        <key>FacebookClientToken</key>
        <string>79a48f5e797dd90e711e6cd95a35840b</string>
        <key>FacebookDisplayName</key>
        <string>InspiryApp</string>
    </dict>
</plist>
