<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>can_buy_one_template</key>
	<false/>
	<key>send_weekly_free_notifications</key>
	<true/>
	<key>new_category</key>
	<true/>
	<key>onboarding</key>
	<true/>
	<key>itunes_music</key>
	<true/>
	<key>free_cause_payments_failed</key>
	<false/>
	<key>show_dialog_free_cause_payments_failed</key>
	<false/>
	<key>default_adapty_paywall</key>
	<string>default-2</string>
	<key>trend_category</key>
	<false/>
	<key>support_email</key>
	<string>inspiryapp@gmail.com</string>
</dict>
</plist>
